html,
body {
    height: 100vh;
    background-color: #4ED4EC;
}

.container {
  width: 100%;
    padding-left: 247px;
    padding-top: 10px;
}

.side-nav li {
    padding: 0px !important;
}

.main-content {
    background-color: white;
    padding: 0 !important;
}

.center{
    font-size: 17px;
    font-weight: bold;
}

.ebayItem{
    text-align: center;
}
.slide-out {
    padding-top: 64px;
}

.border {
    width: 100%;
    background-color: black;
    height: 1px;
    opacity: .3;
}

body {
    background-color: #4ED4EC;
}

@media only screen and (max-width: 992px) {
    header, main, footer, .container {
        padding-left: 0;
    }
}

.petfinder-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.side-nav {
  width: 250px !important;
}

.cardbackground{
  background-color: #4db6ac !important;
  min-height: 200px;
    background-image: url('images/dog.png');
    background-position: 90% 100%;
    background-repeat: no-repeat;
}

.add-nav {
    padding-top: 4px;
    padding-right: 40px;
    float: right;
}


.listitem {
  float: left !important;
    color: white !important;
    }

i{
}
.addPetsRow {
    margin-bottom: 0px !important;
}

.userView {
    background-color: #263238;
    padding-bottom: 24px !important;
    }

.side-img {
    max-height: 100%;
    max-width: 100%;
    background-color: #37474f;
}

.mobile-fab-tip {
    position: fixed;
    right: 85px;
    padding: 0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width: auto;
}

p {
    color: black;
}

.side-nav {
    background-color: #37474f;
    overflow: hidden;
}

.nav-items {
    color: white !important;
}

.nav-top {
    background-color: #37474f;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
    user-drag: none;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}